@font-face {
  font-family: 'yeseva One';
  src: url("../fonts/YesevaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: grey; }

h1 {
  font-family: "Yeseva One";
  color: yellow;
  font-size: 24px; }
